body{
    background-color: whitesmoke;
}

.conheader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color:blueviolet;
    color:white;
    
}
.boxheader1{
    flex-grow: 1;
    margin-left: 10px;
}
.boxheader2{
    flex-grow: 1;
    text-align: end;
    margin-right: 10px;
    font-size: 40px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}
.box1{
    flex-grow: 1;
  background-color: white;
}
.box2{
    flex-grow: 3;
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}

img{
    width: 100px;
    height: 100px;
    margin-left:auto;
    margin-right: auto;
}
.detailimg{
    width: 300px;
    height: 300px;
    margin-left:auto;
    margin-right: auto;
}
.detailbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.dbody{
    width: 80%;
    margin:10%;
}

.dbox1{
    flex-grow:1;
    margin-left:auto;
    margin-right: auto;

}

.dbox2{
    flex-grow:1;
    margin-left:auto;
    margin-right: auto;
}
.cbutton{
    width:100%;
    height:50px;
    font-size: 20px;
}

.productbox{
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: white;
    
    
}
.productbox p {
    font-size:smaller;
}

a:hover {
    color:red;
}


.imgsags{
    width: 100px;
    height: 100px;
}

.sbox1{
    flex-grow: 2;
}

.sbox2{
    flex-grow: 1;
}