body{
    width:80%;
    height:80%;
    margin:auto;
    padding:auto;
}
.container{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.box{
    margin: 5px;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    font-size: 32px;
    color:white;
}
.box:hover{
    background-color: blue;
}