.todo-container {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.todo-container h1 {
  color: gray;
  font-size: 36px;
}
.todo-input-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed gray;
  width: 90vw;
  padding-bottom: 10px;
}
.toggle-btn {
  padding: 10px 20px;
  border-radius: 16px;
}
.toggle-btn-on {
  background-color: gold;
}

h1{
  text-align: center;
}